{% extends 'base.html.twig' %}
{% block banner %}
    <div class="new-style page-header header-filter" data-parallax="true"
         style="background-image: url( {{ asset ('assets/myimg/4.jpg') }}) ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <h3 class="title text-center">Make a diffrence </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block login_volunteer %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="card">
                <h3 class="title text-center"><span class="tim-note">Volunteer </span>as an individual</h3>
                <div class="container-fluid">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-primary">
                        Register
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                                <div class="social text-center">
                                    <button class="btn btn-just-icon btn-round btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </button>
                                    <button class="btn btn-just-icon btn-round btn-dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </button>
                                    <button class="btn btn-just-icon btn-round btn-facebook">
                                        <i class="fa fa-facebook"> </i>
                                    </button>
                                    <h4> or be classical </h4>
                                </div>
                                <form class="form" method="" action="">
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                              </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="First Name...">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                              </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Last Name...">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">mail</i>
                                              </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Email...">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">phone</i>
                                              </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="phone number...">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                              <span class="input-group-text">
                                                <i class="material-icons">mail</i>
                                              </span>
                                            <select class="form-control selectpicker" data-style="btn btn-link" id="exampleFormControlSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                              </span>
                                            </div>
                                            <input type="password" placeholder="Password..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group" style="margin-left: 50px;">
                                        <div class="form-check form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                                                Individual
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="input-group">
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                                                    Member of an association
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Association</label>

                                            <select class="form-control selectpicker" data-style="btn btn-link" id="exampleFormControlSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a href="#pablo" class="btn btn-primary btn-round">Register</a>
                                    </div>
                                </form>
                        </blockquote>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
            <div class="card">
                <h3 class="title text-center"><span class="tim-note">Volunteer </span>as an association</h3>
                <div class="container-fluid">
                    <div class="card card-nav-tabs">
                        <div class="card-header card-header-success">
                            Association registration
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <form class="form" method="" action="">
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                              </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Association name...">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">mail</i>
                                              </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Email...">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                              </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="City...">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">phone</i>
                                              </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="phone number...">
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                              <span class="input-group-text">
                                                <i class="material-icons">mail</i>
                                              </span>
                                            <select class="form-control selectpicker" data-style="btn btn-link" id="exampleFormControlSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                              </span>
                                            </div>
                                            <input type="password" placeholder="Password..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group form-file-upload form-file-multiple bmd-form-group" style="margin-left: 50px;">
                                        <input type="file" multiple="" class="inputFileHidden">
                                        <div class="input-group">
                                            <input type="text" class="form-control inputFileVisible" placeholder="Attestation">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-link btn-fab btn-primary">
                                                  <i class="material-icons">attach_file</i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <a href="#pablo" class="btn btn-success btn-round">Register</a>
                                    </div>
                                </form>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}